@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: #58ADCC;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 16px;
  padding: 6px;
  text-decoration: none;
}

.navbar a:hover{
  color: #58ADCC;
}

.content{
  max-width: 720px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.image-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.image-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 1);
  transition: all 0.3s ease-in-out;
}

.image-preview h2{
  font-size: 20px;
  color: #58ADCC;
  margin-bottom: 8px;
}

.image-preview a{
  text-decoration: none;
}

.image-list img{
  width: 300px;
  height: 200px;
  animation: out 0.5s ease-in-out;
}

.image-list img:hover{
  animation: enter 0.5s ease-in-out forwards;
}

@keyframes enter{
  from{border-radius: 0px; transform: scale(1)}
  to {border-radius: 8px; transform: scale(1.25)};
}

@keyframes out{
  from{border-radius: 8px; transform: scale(1.25)}
  to {border-radius: 0px; transform: scale(1)};
}

button{
  display: block;
  margin: 0 auto;
  background-color: white;
  color: #333;
  font-weight: bolder;
  border: 1px solid #58ADCC;
  border-radius: 8px;
  padding: 10px;
}

button:hover{
  background-color: #58ADCC;
  color: #f2f2f2;
}

.image-showcase img{
  width: 600px;
  height: 400px;
}